<!DOCTYPE html>
<html lang="en">
  <%- include('../../layouts/header.ejs') %>
  <body>

    <%- include('../../layouts/navigation.ejs') %>

    <div class="min-h-full">
        HOME
        <% data.forEach(value => { %>
          <div>
            <%= value.id  %>
          </div>
        <% }) %>
    </div>



    <%- include('../../layouts/footer.ejs') %>
  </body>
</html>


