<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>ABOUT US</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe amet
        natus, sapiente animi nemo rem, temporibus id, et laudantium omnis
        corrupti sequi praesentium a quidem suscipit? Excepturi blanditiis
        ratione alias?
      </p>
    </div>
    <div class="box">
      <h3>QUICK LINKS</h3>
      <a href="#">Home</a>
      <a href="#">Book</a>
      <a href="#">Packages</a>
      <a href="#">Services</a>
      <a href="#">Gallery</a>
      <a href="#">Review</a>
      <a href="#">Contact</a>
    </div>
    <div class="box">
      <h3>FOLLOW US</h3>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">Linkedin</a>
    </div>
  </div>

  <h1 class="credit">
    created by <span> GENG TOKAI</span> | all rights reserved!
  </h1>
</section>

<script src="js/script.js"></script>
